.result-table {
  margin: 0 30px;
}
.result-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.result-table th,
.result-table td {
  border: 1px solid #ddd;
  padding: 8px;
}
.result-table th {
  background-color: #1f1f1f;
}

.result-table td {
  color: #1f1f1f;
}
.result-table button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
.result-table button:first-child {
  background: #ffc107;
}
.result-table button:last-child {
  background: #dc3545;
  color: white;
}
